@using Indigo.Constants;
@model Indigo.ViewModels.KeyWordViewModel

@{
    ViewData["Title"] = "Създаване";
}

<head>
    <link rel="stylesheet" href="~/css/KeyWords/Create.css" asp-append-version="true" />
</head>

<h1 class="text-center heading">Създаване на ключова дума</h1>

<form method="post" asp-controller="KeyWords" asp-action="Create">
    <input type="hidden" name="publicationId" value="@ViewBag.PublicationId" />

    <div class="mb-3">
        <label asp-for="Value" class="fs-5 form-label">Стойност</label>
        <input asp-for="Value" class="form-control" type="text" required />
        <span asp-validation-for="Value" class="text-danger"></span>
    </div>

    <div class="d-grid col-3 mx-auto">
        @if (User.IsInRole(Roles.Author) || User.IsInRole(Roles.Admin))
        {
            <button type="submit" class="btn text-light mb-3">Създай</button>
        }
        <a asp-action="Index" asp-controller="KeyWords" asp-route-publicationId="@ViewBag.PublicationId" class="btn text-light mb-5">Назад</a>
    </div>
</form>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
