@using Indigo.Constants;
@model IEnumerable<KeyWord>

@{
    ViewData["Title"] = "Ключови думи";
}

<head>
    <link rel="stylesheet" href="~/css/KeyWords/Index.css" asp-append-version="true" />
</head>

<h1 class="text-center m-5">Ключови думи</h1>

<div class="container text-center">
    @if (ViewBag.PublicationId != null)
    {
        <div>
            <a asp-controller="KeyWords" asp-action="Create" asp-route-publicationId="@ViewBag.PublicationId" class="btn text-light mb-3">
                Създай
            </a>
        </div>
        <a asp-action="Publication" asp-controller="Publications" asp-route-publicationId="@ViewBag.PublicationId" class="btn text-light mb-5">Назад</a>
    }
    <div>
        @foreach (var keyWord in Model)
        {
            <div class="list-group">
                <div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>@keyWord.Value</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>
