@model Indigo.ViewModels.JournalViewModel;

@{
    ViewData["Title"] = "Създаване";
}

<head>
    <link rel="stylesheet" href="~/css/Journals/Create.css" asp-append-version="true" />
    <style>
        input, textarea{
            border: 3px solid #431264 !important;
        }
    </style>
</head>

<h1 class="text-center heading">Създаване на списание</h1>

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="ImageFile" class="fs-5 form-label">Изображение</label>
        <input asp-for="ImageFile" class="form-control" type="file" />
        <span asp-validation-for="ImageFile" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Title" class="fs-5 form-label">Заглавие</label>
        <input asp-for="Title" class="form-control" type="text" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ISSN_Online" class="fs-5 form-label">ISSN (Онлайн)</label>
        <input asp-for="ISSN_Online" class="form-control" type="text" />
        <span asp-validation-for="ISSN_Online" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ISSN_Print" class="fs-5 form-label">ISSN (Печат)</label>
        <input asp-for="ISSN_Print" class="form-control" type="text" />
        <span asp-validation-for="ISSN_Print" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="License" class="fs-5 form-label">Лиценз</label>
        <input asp-for="License" class="form-control" type="text" />
        <span asp-validation-for="License" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="fs-5 form-label">Описание</label>
        <textarea asp-for="Description" class="form-control style="min-height: 200px;"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="d-grid col-3 mx-auto mb-3">
        <button type="submit" class="btn text-light">Създай</button>
    </div>
    <div class="d-grid col-3 mx-auto mb-5">
        <a asp-controller="Journals" asp-action="Index" class="btn text-light">Назад</a>
    </div>
</form>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}