@using Indigo.ViewModels
@model JournalViewModel;

@{
    ViewData["Title"] = "Редактиране";
}

<head>
    <link rel="stylesheet" href="~/css/Journals/Edit.css" asp-append-version="true" />
</head>

<h1 class="text-center heading">Редактиране</h1>

<form method="post" asp-action="Edit">
    <div class="mb-3">
        <label asp-for="ImageUrl" class="fs-5 form-label">Изображение</label>
        <input asp-for="ImageUrl" class="form-control" type="text" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Title" class="fs-5 form-label">Заглавие</label>
        <input asp-for="Title" class="form-control" type="text" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="fs-5 form-label">Описание</label>
        <textarea asp-for="Description" class="form-control" style="min-height: 200px;"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="d-grid col-3 mx-auto">
        <button type="submit" class="editBtn btn text-light mb-3">Редактирай</button>
        <a asp-controler="Journals" asp-action="Index" class="btn btn-primary">Назад</a>
    </div>

</form>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}