@{
    ViewData["Title"] = "Начало";
}

<style>
    body{
        background-color: #f0e6ff;
    }
</style>

<div class="container">
    <div class="container-fluid rounded-2 indigoContainer row mb-5">
        <div class="col-3">
            <img src="/Images/Indigo.png" class="img-fluid" />
        </div>
        <div class="col-9 p-3" style="text-align: justify">
            <p class="text-light fs-5 lh-md intro"><span class="fs-3 fw-bold">Индиго</span> е уеб приложение, създадено с цел улесняване на процеса на 
                публикуване в научната общност. 
                <br />То предоставя платформа, в която потребителите могат да участват като издатели 
                или автори. 
                <br />Издателите имат възможност да създават и управляват научни списания, докато авторите могат 
                да публикуват своите изследвания в съответните издания. 
                <br />Чрез <strong>Индиго</strong> се осигурява структуриран и 
                ефективен начин за споделяне на научни разработки, като се насърчава прозрачността и достъпността на 
                академичната информация.
            </p>
        </div>
    </div>
    <div class="container-fluid rounded-2 indigoContainer row mb-5">
        <div class="col-9 p-3" style="text-align: justify">
            <p class="text-light fs-5 lh-md intro">
                <span class="fs-3 fw-bold">Издателят</span> има важна роля в процеса на научното публикуване, 
                отговорна за създаването и управлението на научни списания. 
                <br />Всеки издател има възможност да дефинира структурата, тематичната насоченост и визуалната идентичност на 
                своите издания,
                като предоставя платформа за публикуване на висококачествени научни материали. 
                <br />Чрез <strong>Индиго</strong> се осигурява централизирана система за организиране на научните публикации, 
                гарантираща последователност, прозрачност и достъпност на съдържанието.
            </p>
            <a asp-action="Publisher" asp-controller="Home" class="btn text-light border">Научи повече</a>
        </div>
        <div class="col-3">
            <img src="/Images/Publisher.png" class="img-fluid" />
        </div>
    </div>
    <div class="container-fluid rounded-2 indigoContainer row mb-5">
        <div class="col-3">
            <img src="/Images/Author.png" class="img-fluid" />
        </div>
        <div class="col-9 p-3" style="text-align: justify">
            <p class="text-light fs-5 lh-md intro">
                <span class="fs-3 fw-bold">Авторът</span> имат възможност да публикува своите научни изследвания 
                в съответните списания, като предоставя структурирани и добре обосновани публикации. 
                <br />Всяка публикация включва заглавие, тема, описание, съдържание и информация за автора, 
                като впоследствие може да бъде допълнена с ключови думи и използвана литература. 
                <br />Чрез стандартизирания модел на публикуване, приложението улеснява процеса на споделяне на знания и 
                допринася за развитието на научната комуникация.
            </p>
            <a asp-action="Author" asp-controller="Home" class="btn text-light border">Научи повече</a>
        </div>
    </div>
    <div class="container-fluid rounded-2 indigoContainer row mb-5">
        <div class="col-9 p-3" style="text-align: justify">
            <p class="text-light fs-5 lh-md intro">
                <span class="fs-3 fw-bold">Рецензентът</span> осигурява качеството и научната достоверност на публикуваните 
                материали в Индиго. Той отговаря за прегледа, оценката и одобрението на статиите, 
                подадени от авторите, като допринася за поддържането на висок академичен стандарт в 
                научните списания.
            </p>
            <a asp-action="Reviewer" asp-controller="Home" class="btn text-light border">Научи повече</a>
        </div>
        <div class="col-3">
            <img src="/Images/complaint.png" class="img-fluid" />
        </div>
    </div>
    <div class="container-fluid rounded-2 registerContainer row mb-5 bg-white">
        <div class="col-3">
            <img src="~/images/online-student.gif" class="loader" />
        </div>
        <div class="col-9 p-3" style="text-align: justify">
            <p class="fs-1 fw-bold lh-md intro">
                Регистрирай се и започни да създаваш!
            </p>
            <div class="container-fluid" style="width: 200px">
                <a class="btn nav-link text-light fs-5 p-2" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
            </div>
        </div>
    </div>
    
</div>