@{
    ViewData["Title"] = "Рецензент";
}

<head>
    <link rel="stylesheet" href="~/css/Home/Publisher.css" asp-append-version="true" />
    <style>
        body {
            background-color: white !important;
        }
    </style>
</head>

<div class="container-fluid p-0 m-0">
    <h1 class="text-center" style="color:#431264;">Рецензент</h1>
    <a asp-action="Index" asp-controller="Home" class="m-3 btn text-light">Назад</a>
    <div class="image-fluid">
        <img src="~/images/good-review.gif" class="mx-auto d-block loader" />
    </div>
    <div class="publisherContent text-light text-center">
        <div id="carouselExampleCaptions" class="carousel slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            </div>
            <div class="carousel-inner" style="height: 100vh; margin-bottom: 15vh;">
                <div class="carousel-item active">
                    <div style="margin-bottom:100px; margin-top: 50px;">
                        <img src="~/Images/Reviewer/Reviews.png" class="mb-5" style="height: 600px; width: 1100px; border: 5px solid white" alt="...">
                    </div>
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Рецензии</h5>
                        <p>
                            Показват се рецензиите за съответната научна публикация. За да може публикация да бъде
                            добавена към списание, е нужно да бъде рецензирана от рецензент. Към всяка рецензия има 
                            информация като Име и Имейл на рецензента, както и Заглавие, Съдържание и Дата на публикуване
                            на рецензията.
                        </p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

