@{
    ViewData["Title"] = "Документация";
}

<head>
    <style>
        body{
            background-color: white;
        }
        .docButtons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        .docContent {
            width: 100%;
            background-color: white;
            height: auto;
            border: 10px solid #431264;
            color: #431264;
            border-radius: 20px;
        }
        .docAuthor, .docReviewer{
            display: none;
        }
        li{
            margin-bottom: 20px;
            font-size: 17px;
        }
    </style>
</head>
<body>
    <div class="container-fluid p-0 m-0 mt-5">
        <div class="docButtons mb-5">
            <button class="btn text-light">Издател</button>
            <button class="btn text-light">Автор</button>
            <button class="btn text-light">Рецензент</button>
        </div>
    </div>
    <div class="docContent p-3">
        <div class="docPublisher">
            <h4 class="mb-5">За да може <b>издател</b> да публикува научно списание, трябва да спазва тези правила:</h4>
            <ol>
                <li>
                    <b>Рецензия на статиите: </b>
                    Издателят трябва да осигури процес на рецензиране на статиите от независими експерти в съответната област.
                    Това е основен елемент за гарантиране на качеството и научната стойност на публикуваните материали.
                </li>
                <li>
                    <b>Етично публикуване: </b>
                    Издателят трябва да спазва етични стандарти, включително избягване на плагиатство,
                    конфликти на интереси и манипулация на данни. Трябва да се осигури прозрачност относно авторството и
                    източниците на финансиране на изследванията.
                </li>
                <li>
                    <b>Регистрация на ISSN:</b>
                    За да бъде признато като официално научно списание, то трябва да притежава Международен стандартен
                    номер на серийни публикации (ISSN), който позволява неговото проследяване и индексиране
                    в научни бази данни.
                </li>
                <li>
                    <b>Редакционен съвет:</b>
                    Издателят трябва да има редакционен съвет, състоящ се от специалисти в съответната научна област.
                    Те трябва да взимат решения за публикуване на статии и да гарантират, че съдържанието отговаря на
                    академични и научни стандарти.
                </li>
                <li>
                    <b>Авторски права:</b>
                    Издателят трябва ясно да дефинира политиката за авторски права, включително кой притежава правата върху
                    публикуваните статии и как те могат да се използват след публикуване. Често се използват лицензии
                    като Creative Commons, които уточняват условията за споделяне и използване.
                </li>
            </ol>
        </div>
        <div class="docAuthor">
            <h4 class="mb-5">За да може <b>автор</b> да публикува научна публикация, трябва да спазва тези правила:</h4>
            <ol>
                <li>
                    <b>Оригиналност на съдържанието:</b>
                    Авторът трябва да представя само оригинални изследвания. 
                    Плагиатство или многократното публикуване на едно и също съдържание е 
                    строго забранено.
                </li>
                <li>
                    <b>Коректно цитиране на източници:</b>
                    Всички използвани данни, идеи и текстове от други източници 
                    трябва да бъдат правилно цитирани съобразно утвърдените стилове за референции (APA, MLA, Chicago и др.).
                </li>
                <li>
                    <b>Ясно дефиниране на авторството:</b>
                    Само лица, които са допринесли значително за изследването, 
                    имат право да бъдат изброени като автори. Всички съавтори трябва да дадат съгласието си за публикуването.
                </li>
                <li>
                    <b>Деклариране на конфликти на интереси:</b>
                    Авторът трябва да декларира всякакви потенциални конфликти 
                    на интереси (финансови, институционални и други), които могат да повлияят на резултатите или 
                    интерпретацията на изследването.
                </li>
                <li>
                    <b>Спазване на етични стандарти:</b>
                    Ако изследването включва експерименти с хора или животни, авторът трябва да посочи, 
                    че е спазил всички необходими етични насоки и е получил съответните разрешения.
                </li>
            </ol>
        </div>
        <div class="docReviewer">
            <h4 class="mb-5">За да може <b>рецензент</b> да публикува рецензия, трябва да спазва тези правила:</h4>
            <ol>
                <li>
                    <b>Обективност и безпристрастност:</b>
                     Рецензентът трябва да оценява съдържанието на публикацията обективно, без лични пристрастия към 
                     автора или темата.
                </li>
                <li>
                    <b>Конфиденциалност: </b>
                    Цялата информация, получена по време на процеса на рецензиране, трябва да се третира като 
                    поверителна и да не се използва за лична изгода.
                </li>
                <li>
                    <b>Докладване на неетично поведение:</b>
                    Ако рецензентът забележи плагиатство, съществени грешки или нарушения на етичните стандарти, трябва да 
                    информира редакторите незабавно.
                </li>
                <li>
                    <b>Съответствие с експертизата:</b>
                     Рецензентът трябва да приема само рецензиране на статии, които попадат в неговата научна компетентност. Ако не е сигурен в дадена тема, трябва да откаже рецензията.
                </li>
                <li>
                    <b>Предоставяне на конструктивна критика:</b>
                     Забележките трябва да бъдат ясни, конкретни и учтиви, с предложения за подобрения. 
                     Критиката трябва да е насочена към съдържанието, а не към личността на автора.
                </li>
            </ol>
        </div>
    </div>
</body>

<script>
    const docButtons = document.querySelectorAll('.docButtons > button');
    const docPublisher = document.querySelector('.docPublisher');
    const docAuthor = document.querySelector('.docAuthor');
    const docReviewer = document.querySelector('.docReviewer');

    docButtons.forEach((button) => {
        button.addEventListener('click', () => {
            if (button.innerText === 'Издател') {
                docPublisher.style.display = 'block';
                docAuthor.style.display = 'none';
                docReviewer.style.display = 'none';
            } 
            else if (button.innerText === 'Автор') {
                docPublisher.style.display = 'none';
                docAuthor.style.display = 'block';
                docReviewer.style.display = 'none';
            }
            else if (button.innerText === 'Рецензент') {
                docPublisher.style.display = 'none';
                docAuthor.style.display = 'none';
                docReviewer.style.display = 'block';
            }
        });
    });

</script>