@model Indigo.ViewModels.PublicationViewModel;

@{
    ViewData["Title"] = "Създаване";
}

<head>
    <link rel="stylesheet" href="~/css/Publications/Create.css" asp-append-version="true" />
</head>

<h1 class="text-center heading">Създаване на публикация</h1>

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="Title" class="fs-5 form-label">Заглавие</label>
        <input asp-for="Title" class="form-control" type="text" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Topic" class="fs-5 form-label">Тема</label>
        <input asp-for="Topic" class="form-control" type="text" />
        <span asp-validation-for="Topic" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="fs-5 form-label">Описание</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PdfFile" class="fs-5 form-label">Качване на PDF файл</label>
        <input asp-for="PdfFile" class="form-control" type="file" accept="application/pdf"/>
        <span asp-validation-for="PdfFile" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="AuthorName" class="fs-5 form-label">Име на автор</label>
        <input asp-for="AuthorName" class="form-control" />
        <span asp-validation-for="AuthorName" class="text-danger"></span>
        <input type="hidden" name="partId" value="@ViewBag.PartId" />
    </div>
    <div class="d-grid col-3 mx-auto mb-3">
        <button type="submit" class="btn text-light">Създай</button>
    </div>
    <div class="d-grid col-3 mx-auto">
        <a class="btn text-light" asp-controller="Journals" asp-action="Index">Назад</a>
    </div>
</form>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}